//colors
$color-primary: rgb(51,73,255);
$color-primary-light: rgb(123,121,145);
$color-primary-dark:rgb(168,163,216);
$color-white:#fff;
$color-grey-dark:#777;
$color-grey-light-1:#f7f7f7;


//grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizantal:6rem;
